<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>X.org Data issues</title>
    <style type="text/css"><!--
        a {
            text-decoration: none;
            color: blue;
        }
        a:hover {
            text-decoration: underline;
        }
    --></style>
</head>
<body>
    <h1>Issues found in AX database</h1>
    <p>Issues need to be fixed in <a href="https://ax.polytechnique.org/profile/manager/index">AX's website</a>.</p>
    <table width="100%" border="1">
        <tr>
            <th width="20%">Accounts ({{ issues | length }})</th>
            <th>Issues</th>
        </tr>
        {% for account_and_issues in issues %}
        <tr>
            <td>{{ account_and_issues.account }} (<a href="{% url 'admin:alumnforce_account_change' account_and_issues.account.af_id %}">admin</a>)</td>
            <td>
                <ul>
                    {% for issue in account_and_issues.issues %}
                    <li>{{ issue }}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
