{% extends 'base.html' %}

{% block title %}
X.org Data issues
{% endblock %}
{% block head_content %}
    <style type="text/css"><!--
        a {
            text-decoration: none;
            color: blue;
        }
        a:hover {
            text-decoration: underline;
        }
    --></style>
{% endblock %}
{% block body_content %}
    <h1>Issues found in AX database</h1>
    <p>Issues need to be fixed in <a href="https://ax.polytechnique.org/profile/manager/index">AX's website</a>.</p>
    <table width="100%" border="1">
        <tr>
            <th width="20%">Accounts ({{ issues | length }})</th>
            <th>Issues</th>
        </tr>
        {% for account_and_issues in issues %}
        <tr>
            <td>
            {% with account=account_and_issues.account %}
                {{ account }} (<a href="{{ account.alumnforce_profile_url }}">AX</a>, <a href="{% url 'admin:alumnforce_account_change' account.af_id %}">admin</a>)
            {% endwith %}
            </td>
            <td>
                <ul>
                    {% for issue in account_and_issues.issues %}
                    <li>{{ issue }}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
